= form_for @client do |f|
  - if @client.errors.any?
    #error_explanation
      %h2= "#{pluralize(@client.errors.count, "error")} prohibited this client from being saved:"
      %ul
        - @client.errors.full_messages.each do |message|
          %li= message

  .form-group
    = f.label :name
    = f.text_field :name, placeholder: :name, class:'form-control'
  .form-group
    = f.label :workspace
    = f.select :workspace_id, [[current_user.workspace.name, current_user.workspace.id]],{},{placeholder: :workspace, class:'form-control select-2'}
  .d-md-flex.justify-content-between
    = f.submit 'Save', class:'btn btn-primary float-left col-md-5 col-12'
    = link_to 'Back', clients_path, class:'btn btn-secondary float-right col-md-5 col-12'
